
<% div_for(clip, :class => 'clip') do %>
<ul>
  <li><%= t("clip.types.#{clip.type}") %></li>
  <li><label><%= t('clip.title') %>: </label><%= link_to clip.title, clip %></li>
  <li><label><%= t('clip.description') %>: </label><%= clip.description %></li>
</ul>
<% end %>