<h1>New clip</h1>

<% form_for(@clip) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.label :media_file_name %><br />
    <%= f.text_field :media_file_name %>
  </p>
  <p>
    <%= f.label :media_content_type %><br />
    <%= f.text_field :media_content_type %>
  </p>
  <p>
    <%= f.label :media_file_size %><br />
    <%= f.text_field :media_file_size %>
  </p>
  <p>
    <%= f.label :media_updated_at %><br />
    <%= f.datetime_select :media_updated_at %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', clips_path %>