

<div id="main">
  <%= render 'clip' %>
</div>
<div id="children" >
  <ul class="cluster white">
    <li><%= render 'clip' %></li>
    <li><%= render 'clip' %></li>
    <li><%= render 'clip' %></li>
    <li><%= render 'clip' %></li>
    <li><%= render 'clip' %></li>
    <li><%= render 'clip' %></li>
  </ul>
</div>

<div id="extra" >
  <h1>Comentarios</h1>
  <ul class="cluster blue">
    <li><%= render 'clip' %></li>
    <li><%= render 'clip' %></li>
    <li><%= render 'clip' %></li>
    <li><%= render 'clip' %></li>
  </ul>
</div>
